#define INCL_NOBASEAPI
#include <os2.h>
#include <plugin_RCDefines.h>

/*
 * Pluging info
 */
RCDATA NP_INFO_ProductVersion { 10,0,45,2, }

RCDATA NP_INFO_MIMEType          { "application/x-shockwave-flash\0" }
RCDATA NP_INFO_FileExtents       { "swf\0" }
RCDATA NP_INFO_FileOpenName      { "Adobe Flash movie\0" }
RCDATA NP_INFO_FileVersion       { 10,0,45,2, }
RCDATA NP_INFO_CompanyName       { "Vladest\0" }
RCDATA NP_INFO_FileDescription   { "Shockwave Flash 10.0 r45\0" }
RCDATA NP_INFO_InternalName      { "NPFLOS2.DLL\0" }
RCDATA NP_INFO_LegalCopyright    { "Copyright (C) 2000-2010\0" }
RCDATA NP_INFO_OriginalFilename  { "NPFLOS2.DLL\0" }
RCDATA NP_INFO_ProductName       { "Shockwave Flash\0" }


/*
 * Icon
 *      The Icon with lowest ID value placed first to ensure application icon
 *      remains consistent on all systems.
 */
ICON    1 "npfl.ico"


/*
 * Strings
 */
/*
STRINGTABLE DISCARDABLE
BEGIN

END
*/
